@import "../utils/colors.scss";

.about-container {
  background: $backgroundOtherColor;

  button {
    background: $blueColor;

    &:hover {
      background: transparent;
      color: $blueColor;
      border: 1px solid $blueColor;
    }
  }
  .container {
    margin: 0 10%;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    text-shadow: 0.05rem 0.05rem 0.05rem rgba(0, 0, 0, 0.21);

    .details {
      p {
        color: $blueColor;
        line-height: 1.3rem;
        font-size: large;
        text-align: justify;
        width: 90%;
      }
      button {
        margin-top: 3rem;
      }
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .about-container {
    height: 100%;
    .container {
      grid-template-columns: 1fr;
      .details {
        p {
          font-size: 2.3rem;
          line-height: 2rem;
          width: 100%;
          text-align: left;
          line-height: 2.3rem;
        }
      }
      .cards {
        grid-template-columns: 1fr;
        z-index: 999;
      }
    }
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-container {
    .container {
      .details {
        p {
          font-size: 1.8rem;
          line-height: 1.7rem;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about-container {
    .container {
      gap: 1rem;
      .cards {
        gap: 1rem;
      }
    }
  }
}
